*              text=auto
*.tex          text eol=lf
.gitignore     text eol=lf
LICENSE        text eol=lf
*.bat          text eol=crlf
makefile       text eol=lf
*.md           text eol=lf
.gitattributes text eol=lf